<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='stylesheet' href='components/bootstrap-3.3.4-dist/css/bootstrap.min.css'/>
</head>
<body>

<div class="container">
    <h1>Select repositories</h1>
    <form class="form-horizontal" action="#" th:action="@{/selectrepos}" th:object="${repositorySelection}"
          method="post">
        <div th:each="repo,stat:*{repositories}">

            <div class="form-group">
                    <label th:text="${repo.name}" class="col-sm-2">Fake repo</label>

                    <div class="input-group col-sm-10">
                        <span class="input-group-addon">
                            <input type="checkbox" th:field="*{repositories[__${stat.index}__].selected}" th:value="true"/>
                        </span>
                        <input type="text" th:field="*{repositories[__${stat.index}__].fromDate}"
                               placeholder="yyyy-MM-dd"/>
                    </div>
            </div>
            <input type="hidden" th:field="*{repositories[__${stat.index}__].url}" th:value="${repo.url}"/>
            <input type="hidden" th:field="*{repositories[__${stat.index}__].name}" th:value="${repo.name}"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>


</body>
</html>