<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel='stylesheet' href='components/bootstrap-3.3.4-dist/css/bootstrap.min.css'/>-->
</head>
<body>

<div class="container">
    <div th:each="project : ${projectToJiraIssues}">
        <h1 th:text="${project.key.key}">ABC</h1>
            <li th:each="issue : ${project.value}">
                <a th:text="'[' + ${issue.key} +']'" th:href="'https://zlatan.atlassian.net/browse/' + ${issue.key}"/>
                    <span th:text="${issue.summary}"></span>

            </li>
    </div>
</div>
</body>
</html>